body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.header,
.footer {
    flex-shrink: 0;
    align-items: center;
    margin-left: 32px;
    display: flex;
    padding: 12px;
    justify-content: space-between;
}

.left {
    font-weight: bold;
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}



